<% model = question.new_record? ? [test, question] : question %>
<%= form_with model: [:admin, model] do |form| %>
  <div class="form-group">
    <%= form.hidden_field :test_id, value: test.id %>
    <%= form.label :body %><br>
    <%= form.text_field :body, class: "form-control mb-3" %>
    <%= form.submit text="#{question.new_record? ? 'Создать' : 'Изменить'}", class: "btn btn-primary"%>
  </div>
<% end %>

<p><%= link_to 'Back to', admin_test_path(test), class: "btn btn-primary" %></p>
