<div class="row justify-content-center">
  <div class="col">
    <div class="test-header">
      <h4><%= @test.title %></h4>
      <h4><%= "#{t('activerecord.attributes.test.level')}: #{@test.level}"%></h4>
    </div>

    <h4 align="center"><%= t('.header') %></h4>
    <%= link_to t('buttons.add_question'), new_admin_test_question_path(@test), class: "btn btn-primary mb-3"%>

    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th><%= t('activerecord.attributes.question.body') %></th>
        <th colspan="3"><%= t('actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @test.questions.each do |question| %>
        <tr>
          <td><%= question.id %></td>
          <td><%= question.body %></td>
          <td><%= link_to t('buttons.answers'), admin_question_answers_path(question), class: "btn btn-info" %></td>
          <td><%= link_to t('buttons.edit'), edit_admin_question_path(question), class: "btn btn-warning" %></td>
          <td><%= link_to t('buttons.delete'), admin_question_path(question), method: :delete, data: { confirm: t('confirmations.sure') }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
