<tr>
  <td><%= test.id %></td>
  <td><%= test.title %></td>
  <td align="center"><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.author&.full_name %></td>
  <td align="center"><%= test.questions.count %></td>
  <td><%= link_to t('buttons.show'), admin_test_path(test) %></td>
  <td><%= link_to t('buttons.edit'), edit_admin_test_path(test) %></td>
  <td><%= link_to t('buttons.delete'), admin_test_path(test), method: :delete, data: { confirm: t('confirmations.sure') } %></td>
</tr>
