<tr>
<!--  <td><%#= test.id %></td>-->
  <td><%= test.title %></td>
  <td align="center"><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.author&.full_name %></td>
  <td align="center"><%= test.questions.count %></td>
  <td><%= button_to t('buttons.start'), start_test_path(test), class: "btn btn-primary" %></td>
</tr>
