<h1><%= t('tests.index.header') %></h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th><%= t('activerecord.attributes.test.title') %></th>
      <th><%= t('activerecord.attributes.test.level') %></th>
      <th><%= t('activerecord.attributes.category.title') %></th>
      <th><%= t('tests.index.author') %></th>
      <th><% t('tests.index.cnt_questions') %></th>
      <th><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
