<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <% if user_signed_in? %>
      <% flash.now[:notice] = "#{t('hello')} #{current_user.first_name}!" %>
      <p class="nav user">
         <%= t('welcome') %><b><%= current_user.first_name %></b>!
        <%= link_to t('buttons.logout'), destroy_user_session_path, method: :delete %>
      </p>
    <% end %>


    <%= render 'shared/flash' %>

    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>