<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <h2 class="nav user"><%= link_to 'TestGuru', tests_path, class: 'main-title' %></h2>
      <p class="nav user">Welcome<%= current_user.first_name %>!</p>
      <p class="nav user"><%= link_to 'Exit', :logout, method: :delete %></p>
    <% end %>
    <main>
      <%= yield %>
    </main>>
    <%= render 'shared/footer' %>
  </body>
</html>
