<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% flash.now[:notice] = "Hello, #{current_user.first_name}!" %>
      <p class="nav user">
        Welcome Guru<b><%= current_user.first_name %></b>!
        <%= link_to 'Log off', destroy_user_session_path, method: :delete %>
      </p>
    <% end %>
    <main>
      <%= yield %>
    </main>>
    <%= render 'shared/footer' %>
  </body>
</html>
